* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
}

body {
    background-color: rgb(255, 247, 237);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 347px 138px;
    gap: 60px;
    max-width: 1920px;
}

.confirm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 476px;
}

.logo-img img {
    max-width: 185px;
}

.reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.reset-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.title-subtitle h1 {
    font-family: 'Playfair display';
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
}

.title-subtitle p {
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #959895;
}

.Email {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Email p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #959895;
}

.Email input {
    padding: 8px 16px;
    border: 1px solid #EA6A12;
    border-radius: 64px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    max-width: 476px;
}

a {
    padding: 8px 24px;
    border-radius: 64px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    max-width: 188px;
    background-color: #EA6A12;
    color: white;
}

.dishes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.dishes img {
    width: 30%;
}

@media screen and (max-width: 1440px) {
    .container {
        padding: 173.5px 69px;
    }
}

@media screen and (max-width:1280px) {
    .container {
        padding: 86.75px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 43.375px;
    }
}

@media screen and (max-width: 1080px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .dishes {
        width: 60%;
    }
}

@media screen and (max-width: 620px) {
    .dishes {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 27px;
    }
}

@media screen and (max-width: 499px) {
    .dishes {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}